@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
}
.announcement-head {
  margin: 0;
  height: 50px;
  background-color: #212121;
  position: relative;
}
.announcement-text {
  font-family: Montserrat, sans-serif;
  margin-top: 0px;
  width: 100%;
  position: absolute;
  top: -11px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.announcement-text a {
  text-decoration: none;
  text-decoration: underline;
  color: #ffa500;
}

.announcement-tex > img {
  color: white;
}
.container {
  background-color: #e2e3e7;
}
.primary-nav {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: center;
}
.nav-menu ul {
  display: flex;
}
.nav-menu ul li {
  list-style: none;
  list-style-type: none;
}
.nav-menu ul li a {
  text-decoration: none;
  margin: 5px;
  color: black;
  font-family: Montserrat, sans-serif;
  padding: 5px;
  position: relative; /* Required for the pseudo-element positioning */
}
.nav-menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.5px;
  background-color: black;
  left: 50%;
  bottom: 0;
  transition: width 0.3s, left 0.3s;
}
.nav-menu a:hover::after {
  width: 100%;
  left: 0px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 110, "opsz" 99;
}
.seco-nav {
  height: 20;
  margin: 5px;
  padding: 5px;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.primary-footer {
  margin-top: 10px;
  background-color: #212121;
  height: auto;
  width: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  display: flex;
  font-style: normal;
}
.footer-nav1 {
  background-color: #212121;
  width: 33.33%;
}
.footer-nav1 h2 {
  text-align: center;
  text-decoration: none;
  color: white;
}
.footer-nav1 ul li {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 15px;
}
.footer-nav1 ul li a {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  color: white;
}

.footer-nav2 {
  background-color: #212121;
  width: 33.33%;
}
.footer-nav2 h2 {
  text-align: center;
  text-decoration: none;
  color: white;
}
.footer-nav2 p {
  padding-left: 65px;
  margin-left: 91px;
  margin: 10px;
  padding-inline: 11px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  display: flex;
  font-style: normal;
}

.footer-nav2 ul li {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  color: white;
}
.footer-nav2 ul li a {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  color: white;
}

.footer-nav3 {
  background-color: #212121;
  width: 33.33%;
}
.footer-nav3 h2 {
  text-align: center;
  text-decoration: none;
  color: white;
}
.footer-nav3 a {
  margin: 15px;
  display: block;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  color: white;
}
.footer-nav3 address {
  padding-left: 114px;
}
.hr {
  height: 40px;
  width: 100%;
  background-color: #212121;
  display: inline-block;
}
.copy-right {
  float: right;
}
.copy-right a {
  text-decoration: none;
  color: white;
  font-size: small;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.copy-right :first-child {
  margin-right: 15px;
}
.copy-right a:nth-child(2) {
  margin-right: 10px;
}
