{% include 'header.html' %}
<main>
    <div class="site-wrapper">

        <div class="container">
            <h1 class="main-heading">About us</h1>
            <h2 class="second-heading">  The Dari Mooch Story</h2>
            <div class="para">
                <p>
                <pre><b>               The story behind how Pakistan’s first beard grooming and care products company came to be...</b><br>

        Two bearded buddies always had the time-old problem that most men have when growing facial hair like the
        uncomfortable beard itch after a week without shaving, beard ruff (Dandruff of the face), among other
        irritations. <br>

        So these two bearded men tried experimenting with all types of lotions and potions to try and stop the
        dreaded itch and beard ruff. Most left with their beard feeling greasy and smelling like the freshly
        scented roses that you'd smell in a toilet spray. They decided there had to be something better to tame
        their wild beard with.<br>

        The result - Pakistan’s first, world-class, premium beard oil. With strict criteria in mind, the
        gentlemen had to ensure that this beard oil moisturized the skin whether they had light to heavy stubble
        or a glorious full beard, and smell great so the ‘chicks’ wouldn’t complain. <br>

        After months of research, testing 32 different recipes on bearded men, working with skin & hair care
        experts and getting the approval on the intoxicating scent from the ladies, these two gentlemen came up
        with the perfect formula. <br>

        And thus, Dari Mooch as a company was born. <br>

        All products that bear the Dari Mooch brand are made from the finest ingredients, and the care and
        research of experts from the skin and hair industries were put in to make sure that our products deliver
        on their promises. Dari Mooch promotes men to keep beards. We are fostering style for bearded men by
        providing them with high quality products. Our essential products help manage and keep beards
        well-groomed and healthy. <br>

        Enjoy Gentlemen! <br></pre>
                </p>
            </div>
            <!-- /.para -->
        </div>

        <!-- /.main-heading -->
    </div><!-- /.site-wrapper -->
</main>
{% include 'footer.html' %}