<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    {%load static%} {% include 'header.html' %}
  </head>
  <body>
    <h1 style="text-align: center; margin: bottom 50px">FAQ</h1>
    <div class="container">
      <button class="accordion">Are these products made in Pakistan?</button>
      <div class="panel">
        Yes! Dari Mooch is Pakistan's first Male grooming Brand. We are a local
        Brand that wants to promote the Bearded Lifestyle in Pakistan.
      </div>
      <div class="panel"></div>
      <button class="accordion">Are there any side Effects?</button>
      <div class="panel">
        Is an epic beard considered a side effect? All our products are made
        from the highest quality ingredients that are 100% natural so there are
        no side effects.
      </div>
      <div class="panel"></div>
      <button class="accordion">When will I see results?</button>
      <div class="panel">
        Results vary from person to person. Some people see change in days while
        for others it may take weeks if not months. This depends on a number of
        factors including your Age, Lifestyle and genetics.
      </div>
      <div class="panel"></div>
      <button class="accordion">
        Do you guy give a Guarantee for the Growth products?
      </button>
      <div class="panel">
        Our Ingredients are our Guarantee! The products are made from the
        highest quality ingredients that are known to promote growth. The growth
        oil for instance has castor oil, an ingredient that has been used for
        centuries to promote growth, along with essential proteins and amino
        acids. The vitamin spray has biotin, an essential vitamin in
        strengthening not just your hair but your nails too! The shampoo has
        caffeine. Why caffeine you ask? Caffeine is known to draw blood to the
        skin and improve circulation. That helps draw nutrition to the follicles
        and stimulates them to increase active growth! Change takes time. You
        have to be consistent and believe in the journey :)
      </div>
      <div class="panel"></div>
      <button class="accordion">How long can i use the products for?</button>
      <div class="panel">
        The products can be safely used from 2 years after opening
      </div>
      <div class="panel"></div>
      <div class="panel"></div>
      <div class="panel"></div>
      <strong> PURCHASING FROM DARI MOOCH</strong>
      <div id="section2" class="accordion"></div>
      <div class="container">
        <div class="content"></div>
      </div>
      <button class="accordion">How can i place my order?</button>
      <div class="panel">
        You can add products to cart on our website, contact us on Facebook, or
        drop us a message over WhatsApp. We’ll just need your Name, Phone # and
        Delivery Address and one of our Customer Care Representatives will
        confirm your order
      </div>
      <div class="panel"></div>
      <button class="accordion">How can i Pay for my order?</button>
      <div class="panel">
        You can pay through COD (cash on delivery) and we also have an option
        for a bank deposit on the website.
      </div>
      <div class="panel"></div>
      <button class="accordion">Can I get a discount?</button>
      <div class="panel">
        Depends on how much you love us! Our kits are on discount at the moment
        but we are not offering discounts on individual products
      </div>
      <div class="panel"></div>
      <button class="accordion">Do you deliver outside Pakistan?</button>
      <div class="panel">
        Yes, we deliver in UAE and KSA . Our website link is www.darimooch.ae !
      </div>
      <div class="panel"></div>
      <button class="accordion">What are the Delivery charges?</button>
      <div class="panel">
        The delivery charges are Rs 199, and on orders above Rs 1999 delivery is
        free.
      </div>
      <button class="accordion">How do i track my order?</button>
      <div class="panel">
        You can track your order by clicking
        www.darimooch.com/pages/track-your-order.
      </div>
      <button class="accordion">When will my order be delivered?</button>
      <div class="panel">We deliver in 5 to 7 working days</div>
      <div class="panel"></div>
      <div class="panel"></div>
      <div class="panel"></div>
      <strong>GROWTH LINE</strong>
      <div id="section2" class="accordion"></div>
      <div class="container">
        <div class="content"></div>
      </div>
      <button class="accordion">Why are the Growth products expensive?</button>
      <div class="panel">
        We import the highest quality ingredients to formulate our products. For
        Example the castor oil we use in the Growth oil is the Jamaican Castor
        oil that is a very fine quality oil and is thin and non-greasy. Biotin
        is another such Ingredient that is very expensive and cannot be sourced
        locally. So yes the products may be on the expensive side but they are
        formulated with the highest regard to quality hence the price
      </div>
      <div class="panel"></div>
      <button class="accordion">
        Which product from the Growth Line should i start with?
      </button>
      <div class="panel">
        All of the products have been formulated with ingredients that promote
        growth. The Growth oil has Castor oil and a rich blend of essential
        amino acids and proteins that will nourish your beard, the Growth
        shampoo has caffeine in it that draw blood to the skin and better help
        in absorbing the nutrients. The Vitamin spray has Biotin in it that will
        facilitate the growth by eliminating a deficiency of Biotin or essential
        vitamins to the skin. So yes each individual product has the ability to
        promote growth but when used together you will be able to go full force
        with your beard. So we recommend you use the whole kit!
      </div>
      <div class="panel"></div>
      <button class="accordion">
        I am on a budget and want to buy just one product?
      </button>
      <div class="panel">
        You can start with the Growth Oil, it contains Castor oil and Avocado
        oil which will help in nourishing the hair follicle and thereby
        promoting the growth of hair and making it thicker. Also, the oil is
        enriched with essential amino acids and proteins that help strengthen
        the hair leading to less hair fall and breakage. The oil will definitely
        help but we still suggest to use the products together to obtain the
        full benefits.
      </div>
      <div class="panel"></div>
      <button class="accordion">Can I eat Biotin as well?</button>
      <div class="panel">
        Your skin in the largest organ and anything you put gets absorbed. The
        spray not just contains biotin but a blend of essential vitamins too.
        You can definitely use Biotin supplements and consume a diet rich in
        Biotin along with using the Vitamin spray.
      </div>
      <div class="panel"></div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
