<!-- {%load static%} -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'header.html'%}
  </head>

  <body>
    <main>
      <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{%static 'image/Eid_al_Adha_Web_Banner.webp'%}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{%static 'image/World_Cup_Pak_vs_US.webp'%}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{%static 'image/Fathers-Day-Banne.webp'%}"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="heading">
        <h3>Ice Blast</h3>
        <div class="lineofcontroll">
          <span
            style="
              display: inline-block;
              padding-bottom: 2px;
              border-bottom: 3px solid black;
            "
          >
          </span>
        </div>
      </div>
      <div class="all-cards">
        <div class="card1">
          <button type="button" class="btn btn-primary position-relative">
            Sale 7%
          </button>
          <div class="card" style="width: 18rem; border: none">
            <img
              src="{%static 'image/product_1.webp'%}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="btn btn-primary">Add to cart</a>
              <p class="card-text">Summer Go-To Bundle</p>
              <div class="price">
                <h6>Rs.2,796.00</h6>
                &nbsp;&nbsp;
                <strike>Rs.2,996.00</strike>
              </div>
            </div>
          </div>
        </div>
        <div class="card2">
          <button type="button" class="btn btn-primary position-relative">
            Sale 7%
          </button>
          <div class="card" style="width: 18rem; border: none">
            <img
              src="{%static 'image/product_2.webp'%}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="btn btn-primary">Add to cart</a>
              <p class="card-text">Summer Chill Bundle</p>
              <div class="price">
                <h6>Rs.2,599.00</h6>
                &nbsp;&nbsp;
                <strike>Rs.2,797.00</strike>
              </div>
            </div>
          </div>
        </div>
        <div class="card3">
          <button type="button" class="btn btn-primary position-relative">
            Sale 7%
          </button>
          <div class="card" style="width: 18rem; border: none">
            <img
              src="{%static 'image/product_3.webp'%}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="btn btn-primary">Add to cart</a>
              <p class="card-text">Ice Blast Bundle</p>
              <div class="price">
                <h6>Rs.1,399.00</h6>
                &nbsp;&nbsp;
                <strike>Rs.1,498.00</strike>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> all 1st Cards Main Div -->
      <div class="heading">
        <h3>Summer Skin Saviour</h3>
        <div class="lineofcontroll">
          <span
            style="
              display: inline-block;
              padding-bottom: 2px;
              border-bottom: 3px solid black;
            "
          >
          </span>
        </div>
      </div>
      <div class="all-cards-sec">
        <div class="all-cards">
          <div class="card1">
            <button type="button" class="btn btn-primary position-relative">
              Sale 9%
            </button>
            <div class="card" style="width: 18rem; border: none">
              <img
                src="{%static 'image/2nd.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <a href="#" class="btn btn-primary">Add to cart</a>
                <p class="card-text">Summer Go-To Bundle</p>
                <div class="price">
                  <h6>Rs.2,796.00</h6>
                  &nbsp;&nbsp;
                  <strike>Rs.2,996.00</strike>
                </div>
              </div>
            </div>
          </div>
          <div class="card2">
            <button type="button" class="btn btn-primary position-relative">
              Sale 9%
            </button>
            <div class="card" style="width: 18rem; border: none">
              <img
                src="{%static 'image/all-2nd-card1.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <a href="#" class="btn btn-primary">Add to cart</a>
                <p class="card-text">Summer Chill Bundle</p>
                <div class="price">
                  <h6>Rs.2,599.00</h6>
                  &nbsp;&nbsp;
                  <strike>Rs.2,797.00</strike>
                </div>
              </div>
            </div>
          </div>
          <div class="card3">
            <button type="button" class="btn btn-primary position-relative">
              Sale 9%
            </button>
            <div class="card" style="width: 18rem; border: none">
              <img
                src="{%static 'image/all-2nd-card2.webp'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <a href="#" class="btn btn-primary">Add to cart</a>
                <p class="card-text">Ice Blast Bundle</p>
                <div class="price">
                  <h6>Rs.1,399.00</h6>
                  &nbsp;&nbsp;
                  <strike>Rs.1,498.00</strike>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> all 2nd Cards Main Div -->
      </div>
      <!-- /.all-cards-sec -->
    </main>
    <div class="second-banner">
      <img src="{%static 'image/5-off-banner-v2.webp'%}" alt="" />
    </div>
    <!-- /.second-banner -->
    <div class="container-last">
        <div class="last-news-letter">
        <h2 class="news-letter-heading">News Letter</h2>
        <input class="email-input-box" type="email" placeholder="email@example.com">
        <button class="email-input-box-button">Subscribe</button>
        </div><!-- /.last-news-letter -->
    </div>


    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>

    {% include 'footer.html'%}
  </body>
</html>
