{% include 'header.html'%}

<div class="container w-50 my-5">
    <h3 class="h1-login">Login</h3>
    {% if messages %}
    {% for message in messages %}
    <p style="text-align: center;
    font-size: 20px; color:red;">{{message}}</p>
    {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'login-user' %}">
        {% csrf_token %}
        <div class="mb-3 my-5">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="username" id="bg-col-bd" class="form-control" id="email"
                aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="bg-col-bd" class="form-control" id="password" required>
        </div>
        <div class="d-flex btn-div">
            <button type="submit" class="btn btn-primary" id="btn-sty-sub">Login</button>
            <a href="{% url 'register' %}" class="btn btn-primary" id="btn2-sty-sub">Create Account</a>
        </div>
    </form>
</div>

{% include 'footer.html'%}